* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
  }
  
  body {
    background: #3771ce;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .loader {
    margin: auto;
    width: 103px;
    height: 100px;
  }
  
  .oneline {
    width: 200px;
    height: 50px;
  }
  
  .icon,
  .icon svg {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  
  .loader:not(.oneline) .icon:nth-child(odd) {
    margin-right: 3px;
  }
  
  .icon:nth-child(1) {
    animation-delay: 0;
  }
  
  .icon:nth-child(2) {
    animation-delay: 0.05s;
  }
  
  .icon:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  .icon:nth-child(4) {
    animation-delay: 0.15s;
  }
  
  .icon {
    transform: rotate(-90deg) scale(0);
  }
  
  .animate {
    animation: psicon 2s cubic-bezier(.75,0,1,1);
    /* If we want, we can add infinite iterations here, but then lose the randomisation of the symbols */
  }
  
  @keyframes psicon {
    0% {
      transform: rotate(-90deg) scale(0);
      animation-timing-function: cubic-bezier(0,0,.25,1);
    }
    40%, 60% {
      transform: rotate(0deg) scale(1);
    }
    100% {
      transform: rotate(90deg) scale(0);
    }
  }
  
  button {
    display: block;
    position: absolute;
    left: 1em;
    top: 1em;
    padding: .5em;
    font-size: 1em;
  }